body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #ff6347; /* Замена цвета фона на томатный */
    padding: 15px; /* Увеличение отступов */
    text-align: center;
    border-bottom: 2px solid #333; /* Добавление нижней границы */
}
nav a {
    color: #fff; /* Замена цвета текста на белый */
    margin: 0 20px; /* Увеличение отступов между ссылками */
    font-weight: bold; /* Сделать текст жирным */
}
.content {
    padding: 20px;
}
.section {
    background-color: #ffffff; /* Замена цвета фона на белый */
    border: 1px solid #ddd; /* Добавление границы */
    border-radius: 8px; /* Добавление закругленных углов */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавление теней */
    padding: 20px; /* Увеличение внутренних отступов */
    margin-bottom: 40px;
}
.music, .videos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.music-item, .video-item {
    flex: 1 1 calc(33% - 20px);
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.footer {
    background-color: #ff6347; /* Замена цвета фона на томатный */
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
